#discoverapp
  padding: 4em 0
  background-color: $color-bg-dark-gray

  .video-monitor
    background: url(image_path('section3/mac.png')) no-repeat
    height: 346px
    width: 429px
    margin: 2em 0
    padding: 1.2em 1.3em

  h2
    margin-top: 3em

  h3
    color: $color-green

  p
    margin-top: 2em
    line-height: 2

    span
      color: white
      font-style: italic
