.row
  .col-xs-12
    %h2.text-center
      Discover &
      %span enjoy
      the app's helping futures!

.row
  .col-md-3.text-center
    #fatigue

    %h3
      Fatigue

    %p.categories
      Extreme fatigue is common for cancer patients - not being
      able to work, to take care of your family or to have fun.
      You will work on your energy level and learn how to control
      your thoughts and emotions.

  .col-md-3.text-center
    #borders

    %h3
      Borders

    %p.categories
      Everyone has borders. Cancer patients have to learn to recognize
      their new borders. In this section you will learn about setting
      your borders and what you can do to respect them.

  .col-md-3.text-center
    #worry

    %h3
      Worry

    %p.categories
      If you have or have had cancer, you can have an array of worries.
      Will the disease come back? Can I rely on my body again?
      These worries can keep you awake at night. In this section you
      will learn to cope with worry. You will learn how not to fight
      it but accept it and let it go.

  .col-md-3.text-center
    #anxiety

    %h3
      Anxiety

    %p.categories
      You may fear that you are no longer the person you were before
      the disease. You may no longer recognize your own behavior.
      Or you may fear that the disease might come back, or that you
      can no longer be the person you want to be. All cancer patients
      suffer from anxiety once in a while, or indeed quite often.
      By learning to cope with fear you will conserve your energy.
