.row
  .col-lg-6.hidden-xs
    .video-monitor
      %iframe{allowfullscreen: "", controls: "0", frameborder: "0", height: "223" , |
      src: "//www.youtube.com/embed/FrvPiM1W9Fk?modestbranding=1&autohide=1&showinfo=0&controls=1", |
      width: "393"}

  .col-lg-6
    %h2
      Discover this amazing app

    %h3
      Watch the video to find out more about this app.

    %p
      All over the world millions of (former) cancer patients
      suffer from extreme fatigue. They feel so tired that they
      cannot do what they would like to do. They are unable to work
      or care for their family. Often they feel stressed and depressed.

.row
  .col-xs-12
    %p
      The
      %span TiredofCancer
      app helps (former) cancer patients to cope with extreme fatigue.
      By reading, writing, listening and doing exercises on a daily basis,
      (former) cancer patients can get a better grip on their
      fatigue and improve their quality of life.
