.row
  .col-sm-4
    #phone

    %p.text-center
      Mobile: +31653969507

  .col-sm-4.col-sm-offset-4
    #mail

    %p.text-center
      = mail_to 'info@tiredofcancerapp.com'

.row
  .col-sm-12.text-center
    .social
      = link_to '', 'http://facebook.com/tiredofcancerapp', target: '_blank', class: 'social-link social-icon-fb'
      = link_to '', 'http://twitter.com/tiredofcancerapp', target: '_blank', class: 'social-link social-icon-tw'

    .copy
      %p.text-center
        &copy;2014 TIRED OF CANCER. ALL RIGHTS RESERVED.
