.row
  .col-xs-12
    %h2.text-center
      For who

    %p.text-center
      Fatigue is something that (former) cancer patients can suffer from.
      The TiredofCancer app has been developed to help. Please always consult
      your doctor first if you suffer from (extreme) fatigue to exclude
      physical causes (for example anemia).

    .white-sep

    %h2.text-center
      Helping others

    %p.text-center
      A percentage of the proceeds from this app will go towards psychological
      care for cancer patients and their loved ones to help them deal emotionally
      with cancer. So, by using TiredofCancer, you not only help yourself but
      others as well.
