.logo.visible-sm.visible-xs

.row.hidden-lg.hidden-md
  .col-xs-12.text-center
    .header-image-mobile

.row
  .col-md-7
    %h1
      This landing page is designed to Convert your Prospects

    %p.sub
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Pellentesque eget ante eget mi suscipit lobortis

    .col-sm-4.text-center
      = image_tag 'section1/download_badge.png'
    .col-sm-6
      %p#avail
        (Available for iPad only)

  .col-md-5.visible-md.visible-lg
    .header-image
