%nav#navbar-main
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.threelines

        .logo-nav.visible-lg.visible-md

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            %a.smoothScroll{href: "#home"} Home
          %li
            %a.smoothScroll{href: "#discoverapp"} About the App
          %li
            %a.smoothScroll{href: "#team"} About Us
          %li
            %a.smoothScroll{href: "#for-who"} For who
