.row
  .col-xs-12
    %h2.text-center
      Discover
      %span who is behind
      this amaizing app

    %p.text-center
      We are psychologists specialized in oncology. For the past 27
      years we have been offering psychological care to hundreds of
      cancer patients. We do this in Academic hospitals and in the
      Helen Dowling Institute (psycho-oncological centre) in the Netherlands.
      We have developed successful face-to-face and online interventions
      to cope with cancer-related fatigue.

    .fatigue_sep

    %p.text-center
      Fatigue is the most common problem that (former) cancer patients
      experience: estimates vary from 40% to 90%. We have now incorporated
      our clinical experience into the TiredofCancer app to be able to help
      even more people.

.row#team-names
  .col-sm-4.text-center
    %p.name
      ANNETE PET

    %p.title
      MsC, Clinical
      %br
      Psychologist/Psychotherapist


  .col-sm-4.text-center
    %p.name
      BRAM KUIPER

    %p.title
      PhD, Clinical
      %br
      Psychologist/Director

  .col-sm-4.text-center
    %p.name
      MARJIE VAN DER LEE

    %p.title
      PhD, Psychologist/Researcher
